<!DOCTYPE html>
<html lang="en">

<%- head %>


<body id="page-top">
  <!-- Navigation -->
<%- navbar %>
  

  <!-- About Section -->
  <section class="page-section bg-white text-dark mb-0" id="form">
    <div class="container" style="text-align: center;">
      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-dark">EMAIL JE POSLAN</h2>
      <p class="lead text-dark" style="margin-top: 3%;"><%=email%></p>
      <!-- Icon Divider -->
      <div class="divider-custom divider-dark">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <img src="img/logo.png" alt="School logo" width="50px">
        </div>
        <div class="divider-custom-line"></div>
      </div>
      <center>
        <p class="lead">U roku od 5 minuta biste trebali dobiti email od nas na adresu gore, potvrdjujuci vas identitet. Nakon sto pritisnete to dugme, imaceete pristup nasem sistemu. Samo pritisnite link koji dobijete emailu.</p>
        <p class="lead">Niposto ne cuvamo imena ucenika!</p>

      </center>
      <br>


      <center><a href="/" class="basicButton">POCETNA STRANICA</a></center>

    </div>
  </section>


  <!-- Copyright Section -->
  <footer class="copyright py-4 text-center text-white" style="position: absolute; bottom: 0; width: 100%;">
    <div class="container">
      <small>Copyright &copy; Second gimnasium of Sarajevo</small>
    </div>
</footer>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
  </script>
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="js/base.js"></script>
</body>

</html>