<!DOCTYPE html>
<html lang="en">

<%- head %>

<body id="page-top">
<!-- Navigation -->
<%- navbar %>



<!-- About Section -->
<section class="page-section bg-white text-dark mb-0" id="form">
    <div class="container" style="text-align: center;">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-dark"><%= error.message %></h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon" style="font-weight: bold;">
                <%= error.status %>
            </div>
            <div class="divider-custom-line"></div>
        </div>
            <% if (error.status === '404') { %>
                <p class="lead">Nismo nasli stranicu koju ste trazili :'(</p>
            <%} else if (error.status === '400') {%>
                <p class="lead">Vas email ne pripada drugoj gimnaziji :'(</p>
            <%}%>
            <p class="lead">Ako mislite da je ovo problem, molim vas prijavite nam ga. Dugme ispod vas vraca na pocetnu stranicu!
                <br> Sa srecom!</p>

        <br>

        <a href="/" class="basicButton">VRATI SE NA POCETAK!</a>

    </div>
</section>


<!-- Copyright Section -->
<footer class="copyright py-4 text-center text-white" style="position: absolute; bottom: 0; width: 100%;">
    <div class="container">
        <small>Copyright &copy; Second gymnasium of Sarajevo</small>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
</script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<script src="js/base.js"></script>
</body>

</html>