<!DOCTYPE html>
<html lang="en">

<%- head %>


<body id="page-top">
  <!-- Navigation -->
  <%- navbar %>

  

  <!-- About Section -->
  <section class="page-section bg-white text-dark mb-0" id="form" style="min-height: 100%;">
    <div class="container">
      <h2 class="page-section-heading text-left text-uppercase text-dark">Ispunite formular</h2>
      </div>

      <div class="container">
<!--        <input type="text" class="inputter" placeholder="Vrsta upita (Molba, problem, zalba)" id="vrsta">-->
          <select name="vrsta" id="vrsta">
              <option value="0">Prijava</option>
              <option value="1">Molba</option>
          </select>
        <select name="vaznost" id="vaznost">
            <option value="0">nije hitno</option>
            <option value="1">normalno</option>
            <option value="2">veoma hitno</option>
        </select>
        
        <input type="text" class="inputter" placeholder="Naslov" id="naslov">
        <textarea name="body" id="" cols="30" rows="7" placeholder="Ovdje upisite vasu poruku"></textarea>
        <input type="text" class="inputter" placeholder="Da li vise ljudi salju poruku? (Nabroj)" id="ljudi">
        <select name="" id="">
            <option value="normalno">Anonimno posalji poruku</option>
            <option value="veoma">Podjeli moje informacije</option>
        </select>
        <button class="inputter" onclick="send()" id="sendButton"> Posalji!</button>
        <button class="inputter" onclick="redirect()" id="returnButton"> Pocetna!</button>
        </div>
      </div>  
 
    
      
    </div>
  </section>


  <!-- Copyright Section -->
  <footer class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Second gimnasium of Sarajevo</small>
    </div>
  </footer>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
  </script>
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="js/base.js"></script>
  <script src="js/addition.js"></script>

</body>

</html>